// * {
//  border: 1px solid red;
//  }
@font-face {
  font-family: 'KievitWeb';
  src: url('../fonts/KievitWeb.eot'); /* IE9 Compat Modes */
  src: url('../fonts/KievitWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('../fonts/KievitWeb.woff') format('woff'); /* Modern Browsers */
}
body {
  font-family: KievitWeb;
  font-size: 18px;
}
html { 
  background: url(../images/UCSD_day2-79_1920x1129.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a,a:visited, a:active a:hover {
  color: #4682b4; 
  text-decoration: underline;
}
a:hover {
  color: #505050; 
}
h2 {
  margin: 10px 0px;
}
.box {
  border-radius: 5px;
  background-color: #FFFFFF; // Grey: #D8D8D8;  // #f0f8ff
  // border: 1px solid #808080;
  padding: 20px;
  margin: 10px 0px 0px;
}
.box-big-text {
  font-size: 18px;
  // border: 1px solid black;
}
@media (min-width: 32em) {
  .box-big-text {
    font-size: 20px;
    // border: 1px solid black;
  }
}
.box-linked {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  background-color:  #C0D6DF;  // #94c2d1;
  background-image: url("../images/ext-link.png");
  background-repeat: no-repeat;
  background-position: right center;
}
.box-linked:hover, .box-linked:focus { 
  background-color: #b0c4de;
}
.box-linked:focus { 
  outline: none;
  border: 1px solid #505050;
}
.box-linked-text {
  display: inline-block;
  max-width: 200px;
}
.center-horiz {
  text-align: center;
}
.container-narrowest {
  margin: 0 auto;
  max-width: 700px;
}
.container-widest {
  margin: 0 auto;
  max-width: 900px;
}
.ext-link {
  display: inline-block;
  margin-right: 24px;
}
.ext-link:after {
  display: inline-block;
  vertical-align: middle;
  content: ">";
}
.footer {
  background-color: #C0D6DF; 
  min-height: 6.8em;
}
.header-logo-left {
  margin: 0;
  color: #00778a;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: right;
}
@media (min-width: 32em) {
  .header-logo-left {
    font-size: 3.6em;
  }
}
.header-logo-right {
  margin: 0;
  color: #000;
  font-size: 0.75em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
@media (min-width: 32em) {
  .header-logo-right {
    font-size: 1.1em;
  }
}
.header2 {
  font-size: 1.3em;
  font-weight: 600;
}
.text-sm {
  font-size: 0.8em;
}
